$('#regions').html("");
$('#regions').append("<option value=0 >Seleccione...</option>");
<% @regions.each do |region| %>
  $('#regions').append("<option value='<%= region.id %>'><%= region.name %></option>");
<% end %>
$('#regions_box').removeClass('hidden');
